body {
background-color: #1E90FF; /*DodgerBlue */
font: normal 15pt arial;
}

header {
color: white;
text-align: center;
}

section {
background: white;
border-radius: 10px;
padding: 15px;
width: 500px;
margin: auto;
box-shadow: 5px 5px 10px black;/*deslocamento lateral, vertical e espalhamento*/
}

div {
text-align: center;
}

.imagem-pizzaria {
text-align: center;
}

footer {
color: white;
text-align: center;
font-style: italic;
}